@model IEnumerable<SupplyManagement.Models.SupplyRequest>;

@{
    ViewData["Title"] = "Supply Requests";
}
<br />
<div class="row">
	<div class="col-6">
		<h2 class="text-info">My Supply Requests List</h2>
	</div>
	@if (User.IsInRole("Manager"))
	{
	<div class="col-6 align-self-center">
			<a asp-action="ManagerRequestsToApprove" class="btn btn-info float-end"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Supply Requests To Approve</a>
	</div>
	}
	else if (User.IsInRole("Courier"))
	{
		<div class="col-6 align-self-center">
			<a asp-action="RequestsToDeliver" class="btn btn-info float-end"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Deliver New Supply Requests</a>
		</div>
	}
	else if (User.IsInRole("User"))
	{
		<div class="col-6 align-self-center">
			<a asp-action="Create" class="btn btn-info float-end"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New Supply Requests</a>
		</div>
	}
</div>
<br />
<div>
	<table class="table table-striped border" id="supplyRequestTable">
		<thead>
			<tr class="table-info">
				<th>
					@Html.DisplayNameFor(r => r.Id)
				</th>
				<th>
					@Html.DisplayNameFor(i => i.Status)
				</th>
				<th>
					@Html.DisplayNameFor(i => i.CreatedAt)
				</th>
				<th>
					@Html.DisplayNameFor(i => i.ClosedAt)
				</th>
				<th>
					@Html.DisplayNameFor(i => i.ApprovedByUserId)
				</th>
				<th>
					@Html.DisplayNameFor(i => i.DeliveredByUserId)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var request in @Model)
			{
				<tr>
					<td><a asp-action="Details" asp-route-id="@request.Id" class="link-info text-decoration-none">@request.Id</a></td>
					<td>@request.Status.ToString()</td>
					<td>@request.CreatedAt.ToString()</td>
					<td>@request.ClosedAt.ToString()</td>
					<td>@request?.ApprovedBy?.Email </td>
					<td>@request?.DeliveredBy?.Email</td>
					@if (User.IsInRole("Manager"))
					{
						<td class="d-flex flex-row-reverse">
							<div class="btn-group">
								@if (@request?.Status.ToString() == "ClaimsDocumentGenerated")
								{
									<a asp-action="ResolveClaims" class="btn btn-primary" asp-route-id="@request.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								}
								<a asp-action="Details" class="btn btn-success" asp-route-id="@request?.Id"><i class="fa fa-list" aria-hidden="true"></i></a>
								<a asp-action="Delete" class="btn btn-danger" asp-route-id="@request?.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
							</div>
						</td>
					}
					else if (User.IsInRole("Courier"))
					{
						<td class="d-flex flex-row-reverse">
							<div class="btn-group">
								@if (@request?.Status.ToString() == "PendingDelivery")
								{
									<a asp-action="Delivered" class="btn btn-primary" asp-route-id="@request?.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								}
								<a asp-action="Details" class="btn btn-success" asp-route-id="@request?.Id"><i class="fa fa-list" aria-hidden="true"></i></a>
							</div>
						</td>
					}
					else if (User.IsInRole("User"))
					{
						if (@request?.Status.ToString() == "Created")
						{
							<td class="d-flex flex-row-reverse">
								<partial name="~/Views/Shared/_ButtonPartial.cshtml" model="@request?.Id" />
							</td>
						}
						else
						{
							<td class="d-flex flex-row-reverse">
								<div class="btn-group">
									<a asp-action="Details" class="btn btn-success" asp-route-id="@request?.Id"><i class="fa fa-list" aria-hidden="true"></i></a>
								</div>
							</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
	<br />
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#supplyRequestTable').DataTable({
				dom: 'Bfrtip',
			});
		});
	</script>
}